:root {
    --primary-bcg-color: #ffffff;
    --secondary-bcg-color: #f5f4fa;
    --accent-bcg-color: #2f303a;
    --accent: #2196f3;
    --border-element: #ECECEC;
    --border-second-element: #EEEEEE;
    --text-black-color: #000000;
    --text-grey-color: #212121;
    --text-lightgrey-color: #757575;
    --text-white-color: #ffffff;
    --text-white-opacity: rgba(255, 255, 255, 0.6);
    --elemnt-color: #AFB1B8;
    --elemnt-color-secondary: rgba(255, 255, 255, 0.1);
    --elemnt-white-color: #ffffff;
    --elemnt-grey-color: #757575;
    --backdrop-bg: rgba(0, 0, 0, 0.2);
    --overlay: rgba(33, 150, 243, 0.9);
}