footer a {
    text-decoration: none;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--accent-bcg-color);
}

.footer-wrap {
    display: flex;
    align-items: baseline;
    gap: 93px;
}

.footer-subtitle {
    margin-bottom: 20px;

    font-style: Bold;
    font-size: 14px;
    line-height: 1, 1428;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
}